$breakpoints: (
  "phone": 425px,
  "mini-tablet": 560px,
  "tablet": 768px,
  "stack": 1080px,
  "desktop": 1366px,
  "LGdesktop": 1920px,
  "Widedesktop": 2250px,
) !default;

$Widedesktop: 2250px;
$LGdesktop: 1920px;
$desktop: 1366px;
$stack: 920px;
$tablet: 768px;
$mini-tablet: 560px;
$phone: 405px;
